
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root{
    --black-color: #000;
    --white-color: #fff;
    --red-color: #e50914;
    --seperation-color: #363636;
    --btn-color: #151411;
}
body{
    background-color: var(--black-color);
    font-family: sans-serif;
    color: var(--white-color);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60vw;
    height: 100px;
    margin: auto;

    position: relative;
    z-index: 1;
}
/* Navbar */
.navbar img{
    width: 130px;
}
.btn{
    padding: 3px 8px;
    background: none;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.4s;
}
.btn:hover{
    background-color: var(--red-color);
}
.btn-red{
    background-color: var(--red-color);
}
.btn-red:hover{
    background-color: transparent;
}

/* Hero */
.hero{
    height: 100vh;
    background-image: url(./assets/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.layer{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.hero-content{
    position: relative;
    z-index: 1;

    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
    padding: 0 5%;
}
.hero-content h1{
    font-size: 48px;
}
.hero-content p{
    font-size: 24px;
    font-weight: 500;
}
.hero-buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
.hero-buttons input{
    padding: 7px 100px 7px 15px;
    background-color: rgba(0, 0, 0, 0.57);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 4px;
    color: var(--white-color);
}
.hero-buttons button{
    font-size: 18px;
}
/* seperation */
.seperation{
    border: 3px solid var(--seperation-color);

}
/* info area */
.info-area{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
}
.info-area .info-text{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.info-area .info-image{
    position: relative;
}
.info-image img{
    width: 555px;  
    
}
.info-image video{
    position: absolute;
    top: 70px;
    left: 73px;
    z-index: -1;
    
    
}
/*^ FAQ AREA */
.faq-area{
    padding: 35px;
    text-align: center;
}
.faq-area h2{
    font-size: 40px;
    font-weight: 600;
}
.faq-box-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
}

.faq-box{
    background-color: #232323;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 60vw;
    margin: auto;
    padding: 24px;
    cursor: pointer;
    /* white-space: nowrap; */
    transition: all 0.3s ease;
}
.faq-box:hover{
    background-color: #191919;

}
/* Footer Area */
.footer{
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}
.footer .questions{
    font-size: 25px;
    margin-bottom: 50px;
}
.footer-item-container{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 5px;
}
.footer-item a{
    color:var(--white-color);
    font-size: 18px;
    transition: all 0.2s;
}
.footer-item a:hover{
    color: #e50914;
}






/* ^ RESPONSIVE */

@media(max-width:1000px) {
    .info-area{
        flex-direction: column;
        text-align: center;
        padding: 20px;
        margin-top: 30px;
    }

}
@media(max-width:700px) {
    .info-image img{
        width: 400px !important;
    }
    .info-image video{
        width: 350px;
        top: 60px;
        left: 50px;
        right: 0;
           
    }
    .hero-content h1{
        font-size: 24px;
    }
    .hero-content p{
        font-size: 12px;
    }
    .btn{
        font-size: 12px;
    }
    .navbar{
        width: 90vw;
    }
    .hero-buttons {
        display: flex;
        flex-direction: column;
    }
    .info-area h1{
        font-size: 24px;
    }
    .info-area p{
        font-size: 14px;
    }
    .faq-area h2{
        font-size: 24;
    }
    .faq-box{
        font-size: 12px;
        padding: 10px;
    }
}
